<%= form_for(@crime_report) do |f| %>
  <% if @crime_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crime_report.errors.count, "error") %> prohibited this crime_report from being saved:</h2>

      <ul>
      <% @crime_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
