<html>
<head><!-- link rel="alternate stylesheet" type="text/css" href="resource://gre-resources/plaintext.css" title="Wrap Long Lines"> --></head>
<body>
  <pre>
   "displayFieldName" : "DC_DIST",
                "fieldAliases" : {
                  "DC_DIST" : "DC_DIST",
                  "SECTOR" : "SECTOR",
                  "DISPATCH_DATE_TIME" : "DISPATCH_DATE_TIME",
                  "DISPATCH_DATE" : "DISPATCH_DATE",
                  "DISPATCH_TIME" : "DISPATCH_TIME",
                  "HOUR" : "HOUR",
                  "DC_KEY" : "DC_KEY",
                  "LOCATION_BLOCK" : "LOCATION_BLOCK",
                  "UCR_GENERAL" : "UCR_GENERAL",
                  "OBJECTID" : "OBJECTID",
                  "TEXT_GENERAL_CODE" : "TEXT_GENERAL_CODE",
                  "POINT_X" : "POINT_X",
                  "POINT_Y" : "POINT_Y"
                },
                "geometryType" : "esriGeometryPoint",
                "spatialReference" : {
                  "wkid" : 4269
                },
                "fields" : [
                  {
                    "name" : "DC_DIST",
                    "type" : "esriFieldTypeString",
                    "alias" : "DC_DIST",
                    "length" : 2
                  },
                  {
                    "name" : "SECTOR",
                    "type" : "esriFieldTypeString",
                    "alias" : "SECTOR",
                    "length" : 1
                  },
                  {
                    "name" : "DISPATCH_DATE_TIME",
                    "type" : "esriFieldTypeDate",
                    "alias" : "DISPATCH_DATE_TIME",
                    "length" : 36
                  },
                  {
                    "name" : "DISPATCH_DATE",
                    "type" : "esriFieldTypeString",
                    "alias" : "DISPATCH_DATE",
                    "length" : 30
                  },
                  {
                    "name" : "DISPATCH_TIME",
                    "type" : "esriFieldTypeString",
                    "alias" : "DISPATCH_TIME",
                    "length" : 30
                  },
                  {
                    "name" : "HOUR",
                    "type" : "esriFieldTypeSmallInteger",
                    "alias" : "HOUR"
                  },
                  {
                    "name" : "DC_KEY",
                    "type" : "esriFieldTypeString",
                    "alias" : "DC_KEY",
                    "length" : 12
                  },
                  {
                    "name" : "LOCATION_BLOCK",
                    "type" : "esriFieldTypeString",
                    "alias" : "LOCATION_BLOCK",
                    "length" : 45
                  },
                  {
                    "name" : "UCR_GENERAL",
                    "type" : "esriFieldTypeString",
                    "alias" : "UCR_GENERAL",
                    "length" : 50
                  },
                  {
                    "name" : "OBJECTID",
                    "type" : "esriFieldTypeOID",
                    "alias" : "OBJECTID"
                  },
                  {
                    "name" : "TEXT_GENERAL_CODE",
                    "type" : "esriFieldTypeString",
                    "alias" : "TEXT_GENERAL_CODE",
                    "length" : 255
                  },
                  {
                    "name" : "POINT_X",
                    "type" : "esriFieldTypeDouble",
                    "alias" : "POINT_X"
                  },
                  {
                    "name" : "POINT_Y",
                    "type" : "esriFieldTypeDouble",
                    "alias" : "POINT_Y"
                  }
                ],
                "features" : [
                  {
                    "attributes" : {
                      "DC_DIST" : "15",
                      "SECTOR" : "3",
                      "DISPATCH_DATE_TIME" : 1355940000000,
                      "DISPATCH_DATE" : "2012-12-19",
                      "DISPATCH_TIME" : "18:00:00",
                      "HOUR" : 18,
                      "DC_KEY" : "201215122134",
                      "LOCATION_BLOCK" : "6800 BLOCK TULIP ST",
                      "UCR_GENERAL" : "500",
                      "OBJECTID" : 532,
                      "TEXT_GENERAL_CODE" : "Burglary Residential",
                      "POINT_X" : -75.042410129999993,
                      "POINT_Y" : 40.02350569
                    },
                    "geometry" : {
                      "x" : -75.042410134000022,
                      "y" : 40.023505689999979
                    }
                  },

                  ...

                    "attributes" : {
                      "DC_DIST" : "03",
                      "SECTOR" : "3",
                      "DISPATCH_DATE_TIME" : 1356958140000,
                      "DISPATCH_DATE" : "2012-12-31",
                      "DISPATCH_TIME" : "12:49:00",
                      "HOUR" : 12,
                      "DC_KEY" : "201203082580",
                      "LOCATION_BLOCK" : "2400 BLOCK S SARTAIN ST",
                      "UCR_GENERAL" : "500",
                      "OBJECTID" : 595642,
                      "TEXT_GENERAL_CODE" : "Burglary Residential",
                      "POINT_X" : -75.166264720000001,
                      "POINT_Y" : 39.919841759999997
                    },
                    "geometry" : {
                      "x" : -75.166264715000011,
                      "y" : 39.919841763000022
                    }
                  }
                ]
              }
  </pre>
</body>
</html>

